<!DOCTYPE html>
<html lang="en">

    <head th:replace="~{fragments/commons::head(title = 'Product details | Tech x7')}"></head>

<body>
    <header th:replace="~{fragments/commons::header}"></header>

    <div th:replace="~{fragments/commons::breadcrumb(activeBreadcrumb = 'Product Details')}"></div>

    <div class="container-fluid pb-5">
        <div th:object="${product}"
             class="row px-xl-5">
            <div class="col-lg-5 mb-30">
                <img th:src="@{|*{imageUrl}|}"
                     style="width: 100%; height: auto;" alt="Product image">
            </div>

            <div class="col-lg-7 h-auto mb-30">
                <div class="h-100 bg-light p-30">
                    <h3 th:text="*{name}"></h3>

                    <div class="productRating d-flex align-items-center mb-1">
                        <div class="rating-average text-warning" th:data-rating-average="*{reviewDataForProductDTO.averageRating}">
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>

                        <div>
                            <small class="mt-0 ml-1" th:text="|(*{reviewDataForProductDTO.reviews})|"></small>
                        </div>
                    </div>

                    <div class="d-flex align-items-center my-2">
                        <th-block th:if="*{discountPrice}">
                            <h5 th:if="*{discountPrice}" th:text="|£*{discountPrice}|">£0</h5><h6 class="text-muted ml-2"><del th:text="|£*{price}|">£0</del></h6>
                        </th-block>

                        <th-block th:unless="*{discountPrice}">
                            <h5 th:text="|£*{price}|">£0</h5>
                        </th-block>
                    </div>

<!--                    <div th:unless="*{description?.isBlank()}"-->
<!--                         class="fs-5 my-3 row">-->
<!--                        <p th:text="*{description}"></p>-->
<!--                    </div>-->

                    <div class="fs-5 my-3 row">
                        <div th:unless="*{#lists.isEmpty(specificationsList)}" th:each="specification : *{specificationsList}"
                             class="col-12">
                            <span th:text="|${specification.key}: |" class="font-weight-bold"></span>
                            <span th:text="${specification.value}"></span>
                        </div>
                    </div>

                    <div class="mb-4">
                        <div class="input-group details-quantity mr-3" style="width: 120px;">
                            <input id="product-details-uuid" type="hidden" th:value="*{uuid}">

                            <div class="input-group-btn">
                                <a class="btn btn-sm btn-minus" style="font-size: 20px;">
                                    <i class="fa fa-minus-circle"></i>
                                </a>
                            </div>

                            <input id="product-details-quantity" type="text" class="input-quantity form-control form-control-sm bg-secondary border-0 rounded text-center" value="1" maxlength="3" style="font-size: 18px;">

                            <div class="input-group-btn">
                                <a class="btn btn-sm btn-plus" style="font-size: 20px; color: #000">
                                    <i class="fa fa-plus-circle"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="mb-4">
                        <button id="btnAddToCartProductDetails" class="btn btn-primary px-3"><i class="fa fa-shopping-cart mr-1"></i> Add To Cart</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row px-xl-5">
            <div class="col">
                <div class="bg-light p-30">
                    <div class="nav nav-tabs mb-4">
                        <a class="nav-item nav-link text-dark active" data-toggle="tab" href="#tab-pane-1">Description</a>
                        <a th:text="|Reviews (${reviews.size()})|"
                                class="reviewBadge nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-2"></a>
                    </div>

                    <div class="tab-content">
                        <div class="col-6 tab-pane fade show active" id="tab-pane-1">
                            <h4 class="mb-3">Product Description</h4>

                            <div th:unless="${product.description?.isBlank()}"
                                 class="my-3 row">
                                <p th:text="${product.description}"></p>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="tab-pane-2">
                            <div class="row">
                                <div class="col-md-6 mb-2">
                                    <h4 th:text="|${reviews.size()} ${reviews.size() == 1 ? 'review' : 'reviews'} for ${product.name}|" class="reviewCounter mb-4" th:product-name="${product.name}"></h4>

                                    <div class="reviews" style="max-height: 500px; overflow: auto;">
                                        <div th:each="review : ${reviews}"
                                             th:object="${review}"
                                             class="media mb-4">
                                            <object class="img-fluid mr-3 mt-1" style="width: 45px;" th:data="@{|*{imageUrl}|}">
                                                <img src="https://placehold.co/45x45" alt="User Image">
                                            </object>

                                            <div class="media-body">
                                                <h6>
                                                    <th-block th:text="*{name}"></th-block>
                                                    <small> - <i th:text="*{date}"></i></small>
                                                </h6>

                                                <div class="text-primary mb-2 rating" th:data-rating="*{rating}">
                                                    <i data-vote="1" class="far fa-star"></i>
                                                    <i data-vote="2" class="far fa-star"></i>
                                                    <i data-vote="3" class="far fa-star"></i>
                                                    <i data-vote="4" class="far fa-star"></i>
                                                    <i data-vote="5" class="far fa-star"></i>
                                                </div>

                                                <p th:text="*{content}"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div id="createReviewContainer">
                                        <h4 class="mb-4 pt-2">Leave a review</h4>

                                        <small>Your email address will not be published. Required fields are marked *</small>

                                        <div class="my-3">
                                            <div class="d-flex">
                                                <p class="mb-0 mr-2">Your Rating * :</p>

                                                <div class="text-primary rating rating-stars">
                                                    <i data-vote="1" class="far fa-star"></i>
                                                    <i data-vote="2" class="far fa-star"></i>
                                                    <i data-vote="3" class="far fa-star"></i>
                                                    <i data-vote="4" class="far fa-star"></i>
                                                    <i data-vote="5" class="far fa-star"></i>
                                                </div>
                                            </div>

                                            <input type="hidden" class="ratingInput">

                                            <small class="addReviewError ratingError text-danger"></small>
                                        </div>

                                        <div class="form-group">
                                            <label for="message">Your Review</label>

                                            <textarea id="message" cols="30" rows="5" class="form-control reviewContent"></textarea>

                                            <small class="addReviewError contentError text-danger"></small>

                                            <input type="hidden" class="productUuid" th:name="product" th:value="${product.uuid}">
                                        </div>

                                        <div class="form-group">
                                            <label for="name">Your Name *</label>

                                            <input type="text" class="form-control authorName" id="name">

                                            <small class="addReviewError nameError text-danger"></small>
                                        </div>

                                        <div class="form-group">
                                            <label for="email">Your Email *</label>

                                            <input type="email" class="form-control authorEmail" id="email">

                                            <small class="addReviewError emailError text-danger"></small>
                                        </div>

                                        <div class="form-group mb-0">
                                            <input type="submit" value="Leave Your Review" id="addReviewBtn" class="btn btn-primary px-3">
                                        </div>

                                        <div class="existingReviewError my-2 text-danger">You can only add one review per product</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="~{fragments/commons::footer}"></footer>

    <div th:replace="~{fragments/commons::popups}"></div>
</body>
</html>