<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/commons::head(title = 'Categories | Tech x7')}"></head>

<body>
    <header th:replace="~{fragments/commons::header(activeLink = 'categories')}"></header>

    <div th:replace="~{fragments/commons::breadcrumb(activeBreadcrumb = 'Categories')}"></div>

    <div class="container-fluid">
        <div class="row px-xl-5 pb-3">
            <h2 class="section-title position-relative text-uppercase mb-4"><span class="bg-secondary px-1">Category</span></h2>

            <div class="col-lg-5 mb-5">
                <div class="manufacturer-form bg-light p-30">
                    <h5 class="section-title position-relative text-uppercase mb-3"><span class="credentials-title">Add Category</span></h5>

                    <form th:action="@{/categories/add}"
                          th:method="POST"
                          th:object="${addCategoryDTO}"
                          name="categoryAdd" id="category-add" enctype="multipart/form-data">
                        <div class="row align-items-start py-4">
                            <div class="col-md-12 form-group">
                                <div class="row align-items-center">
                                    <div class="col-auto mb-3 mb-md-0 input-image">
                                        <img src="https://images.pexels.com/photos/1037995/pexels-photo-1037995.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=175" class="img" alt="Category image">
                                    </div>

                                    <div class="col-auto">
                                        <div id="img-section">
                                            <b>Category Image</b>

                                            <p>Accepted file type .png. Less than 5MB</p>

                                            <div class="custom-file">
                                                <input th:name="image"
                                                       th:field="*{image}"
                                                       type="file" class="custom-file-input" id="customFileInput" aria-describedby="customFileInput">

                                                <label class="custom-file-label" for="customFileInput">Upload</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="image-error"><small th:if="${#fields.hasErrors('image')}" th:errors="*{image}" class="text-danger"></small></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 form-group">
                                <label for="category-name">Name</label>

                                <input th:name="name"
                                       th:field="*{name}"
                                       id="category-name" class="form-control" type="text" placeholder="Desktop computers">
                                <small th:if="${#fields.hasErrors('name')}"
                                       th:errors="*{name}"
                                       class="text-danger"></small>
                            </div>

                            <div class="col-md-12 form-group">
                                <label for="category-description">Description</label>

                                <textarea th:name="description"
                                          th:field="*{description}"
                                          id="category-description" class="form-control"></textarea>
                                <small th:if="${#fields.hasErrors('description')}"
                                       th:errors="*{description}"
                                       class="text-danger"></small>
                            </div>

                            <div class="col-md-12 mt-4 form-actions">
                                <button class="btn btn-block btn-primary font-weight-bold py-3 text-uppercase">Add category</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-lg-7 mb-5">
                <div class="bg-light p-30">
                    <h5 class="section-title position-relative text-uppercase ml-3 mb-5"><span class="credentials-title">All Categories</span></h5>

                    <div class="table-responsive mb-5" style="max-height: 450px">
                        <table class="table table-light table-borderless table-hover text-center mb-0">
                            <thead class="thead" style="background: #F5F5F5;">
                                <tr style="border-bottom: 1px solid #dee2e6;">
                                    <th>Photo</th>
                                    <th>Name</th>
                                    <th>Created at</th>
                                    <th>Modified at</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>

                            <tbody class="align-middle" style="font-size: 18px">
                                <tr th:each="category : ${categories}"
                                    th:object="${category}">
                                    <td>
                                        <img th:src="@{|*{imageUrl}|}" th:alt="|*{name} Image|" width="70">
                                    </td>

                                    <td th:text="*{name}" class="align-middle"></td>

                                    <td th:text="*{created}" class="align-middle"></td>

                                    <td th:text="*{modified} ?: 'None'" class="align-middle"></td>

                                    <td class="align-middle">
                                        <a th:href="@{/categories/edit/{id}(id = *{uuid})}">
                                            <button class="btn btn-info rounded" style="padding: 3px 8px"><i class="fa fa-solid fa-pen"></i></button>
                                        </a>
                                    </td>

                                    <td class="align-middle">
                                        <form th:action="@{/categories/delete/{id}(id = *{uuid})}"
                                              th:method="DELETE">
                                            <button class="btn btn-danger rounded" style="padding: 3px 10px"><i class="fa fa-times"></i></button>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-md-12 mt-5 form-actions">
                        <form th:action="@{/categories/delete-all}"
                              th:method="DELETE">
                            <button class="btn btn-block btn-primary font-weight-bold py-3 text-uppercase">Remove All</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="~{fragments/commons::footer}"></footer>

    <div th:replace="~{fragments/commons::popups}"></div>
</body>

</html>
