<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/commons::head(title = 'Page not found | Tech x7')}"></head>

<body style="display: block">
    <header th:replace="~{fragments/commons::header}"></header>

    <div class="hero-404">
        <div class="hero__background" style="background-image: url('/images/404-hero.jpg')"></div>

        <div class="hero__content">
            <h1>404 Page Not Found <th-block th:text="${id}"></th-block></h1>
            <h2>Try to find your way using the navigation. Contact us for more information</h2>
        </div>
    </div>

    <footer th:replace="~{fragments/commons::footer}"></footer>

    <div th:replace="~{fragments/commons::popups}"></div>
</body>
</html>