<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/commons::head(title = 'Models | Tech x7')}"></head>

<body>
    <header th:replace="~{fragments/commons::header(activeLink = 'models')}"></header>

    <div th:replace="~{fragments/commons::breadcrumb(activeBreadcrumb = 'Models')}"></div>

    <div class="container-fluid">
        <div class="row px-xl-5">
            <h2 class="section-title position-relative text-uppercase mb-4"><span class="bg-secondary px-1">Model</span></h2>

            <div class="col-lg-5 mb-5">
                <div class="model-form bg-light p-30">
                    <h5 class="section-title position-relative text-uppercase mb-3"><span class="credentials-title">Add Model</span></h5>

                    <form th:action="@{/models/add}"
                          th:method="POST"
                          th:object="${addModelDTO}"
                          name="modelForm" id="modelForm">
                        <div class="row align-items-start py-4">
                            <div class="col-md-12 form-group">
                                <label for="model-name">Model</label>

                                <input th:name="name"
                                       th:field="*{name}"
                                       id="model-name" class="form-control" type="text" placeholder="Inspiron 2024">

                                <small th:if="${#fields.hasErrors('name')}"
                                       th:errors="*{name}"
                                       class="text-danger"></small>
                            </div>

                            <div class="col-md-12 form-group">
                                <label>Manufacturer</label>

                                <select th:name="manufacturer"
                                        th:field="*{manufacturer}"
                                        class="custom-select">
                                    <option value="">Select a manufacturer</option>
                                    <option th:each="m : ${manufacturers}"
                                            th:text="${m.name}"
                                            th:value="${m.id}"></option>
                                </select>

                                <small th:if="${#fields.hasErrors('manufacturer')}"
                                       th:errors="*{manufacturer}"
                                       class="text-danger"></small>
                            </div>

                            <div class="col-md-12 mt-4 form-actions">
                                <button class="btn btn-block btn-primary font-weight-bold py-3 text-uppercase">Add model</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-lg-7 mb-5">
                <div class="bg-light p-30">
                    <h5 class="section-title position-relative text-uppercase ml-3 mb-5"><span class="credentials-title">All Models</span></h5>

                    <div class="table-responsive mb-5" style="max-height: 450px">
                        <table class="table table-light table-borderless table-hover text-center mb-0">
                            <thead class="thead" style="background: #F5F5F5;">
                                <tr style="border-bottom: 1px solid #dee2e6;">
                                    <th>Manufacturer</th>

                                    <th>Model</th>

                                    <th>Created at</th>

                                    <th>Modified at</th>

                                    <th>Edit</th>

                                    <th>Delete</th>
                                </tr>
                            </thead>

                            <tbody class="align-middle" style="font-size: 18px">
                                <tr th:each="model : ${models}">
                                    <td><img th:src="@{|${model.manufacturerDTO.imageUrl}|}" th:alt="|${model.manufacturerDTO.name} Logo|" width="70"></td>

                                    <td th:text="${model.name}" class="align-middle"></td>

                                    <td th:text="${model.created}" class="align-middle"></td>

                                    <td th:text="${model.modified} ?: 'None'" class="align-middle"></td>

                                    <td class="align-middle">
                                        <a th:href="@{/models/edit/{id}(id = ${model.uuid})}">
                                            <button class="btn btn-info rounded" style="padding: 3px 8px"><i class="fa fa-solid fa-pen"></i></button>
                                        </a>
                                    </td>

                                    <td class="align-middle">
                                        <form th:action="@{/models/delete/{id}(id = ${model.uuid})}"
                                              th:method="DELETE">
                                            <button class="btn btn-danger rounded" style="padding: 3px 10px"><i class="fa fa-times"></i></button>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-md-12 mt-5 form-actions">
                        <form th:action="@{/models/delete-all}"
                              th:method="DELETE">
                            <button class="btn btn-block btn-primary font-weight-bold py-3 text-uppercase">Remove All</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="~{fragments/commons::footer}"></footer>

    <div th:replace="~{fragments/commons::popups}"></div>
</body>

</html>
