<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/commons::head(title = 'Admin Panel | Tech x7')}"></head>

<body>
    <header th:replace="~{fragments/commons::header(activeLink = 'admin')}"></header>

    <div th:replace="~{fragments/commons::breadcrumb(activeBreadcrumb = 'Admin')}"></div>

    <div class="container-fluid">
        <div class="row px-xl-5 pb-3">
            <h2 class="section-title position-relative text-uppercase mb-4"><span class="bg-secondary px-1">Users</span></h2>

            <div class="col-lg-8 mb-5">
                <div class="bg-light p-30">
                    <h5 class="section-title position-relative text-uppercase ml-3 mb-5"><span th:text="|Total: *{users.size()}|" class="credentials-title">No users available</span></h5>

                    <div class="table-responsive mb-5" style="max-height: 450px">
                        <table class="table table-light table-borderless table-hover text-center mb-0">
                            <thead class="thead" style="background: #F5F5F5;">
                                <tr style="border-bottom: 1px solid #dee2e6;">
                                    <th>Email</th>
                                    <th>Username</th>
                                    <th>Roles</th>
                                    <th>Created at</th>
                                    <th>Modified at</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>

                            <tbody class="align-middle" style="font-size: 18px">
                                <tr th:each="user : ${users}"
                                    th:object="${user}">
    <!--                                <td><img th:src="@{|/images/*{imageUrl}|}" th:alt="|*{name} Logo|" width="70"></td>-->
                                    <td th:text="*{email}" class="align-middle"></td>
                                    <td th:text="*{username}" class="align-middle"></td>
                                    <td th:data-roles="*{#strings.listJoin(roles, ', ')}" class="align-middle">
                                        <label for="roles" class="hidden"></label>
                                        <select th:name="role"
                                                class="custom-select"
                                                id="roles">
                                            <option th:each="role : *{rolesSet}"
                                                    th:text="${role.name}"
                                                    th:value="${role.id}"></option>
                                        </select>
                                    </td>
                                    <td th:text="*{created}" class="align-middle"></td>
                                    <td th:text="*{modified}" class="align-middle"></td>
                                    <td class="align-middle">
                                        <a th:href="@{/users/edit/{id}(id = *{uuid})}">
                                            <button class="btn btn-info rounded" style="padding: 3px 8px"><i class="fa fa-solid fa-pen"></i></button>
                                        </a>
                                    </td>
                                    <td class="align-middle">
                                        <form th:action="@{/users/delete/{id}(id = *{uuid})}"
                                              th:method="DELETE">
                                            <button class="btn btn-danger rounded" style="padding: 3px 10px"><i class="fa fa-times"></i></button>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-md-12 mt-5 form-actions">
                        <form th:action="@{/users/delete-all}"
                              th:method="DELETE">
                            <button class="btn btn-block btn-primary font-weight-bold py-3 text-uppercase">Remove All</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mb-5">
                <div class="bg-light p-30">
                    <h5 class="section-title position-relative text-uppercase ml-3 mb-5"><span class="credentials-title">Restricted Users</span></h5>

                    <h5 class="section-title position-relative text-uppercase ml-3 mb-5"><span class="credentials-title">Add Role</span></h5>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="~{fragments/commons::footer}"></footer>

    <div th:replace="~{fragments/commons::popups}"></div>
</body>

</html>
