<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/commons::head(title = 'Login | Tech x7')}"></head>

<body>
    <div th:if="${verificationMessage}"
         class="alert alert-auth d-flex">
        <div>✔️</div>

        <div th:text=" ${verificationMessage}"></div>
    </div>

    <div th:if="${userActivated}"
         class="alert alert-auth d-flex">
        <div>✔️</div>

        <div th:text=" ${userActivated}"></div>
    </div>

    <header th:replace="~{fragments/commons::header(activeLink = 'login', loginPage = 'true')}"></header>

    <div class="container">
        <div class="popup auth-login">
            <div class="popup__inner">
                <div class="popup__head">
                    <h2>Sign In</h2>
                </div>

                <div class="popup__body">
                    <div class="form-login">
                        <form th:action="@{/users/login}"
                              th:method="POST"
                              name="loginForm" class="form-credentials">
                            <div class="form__head">
                                <p>Not Registered? <a href="#" class="link-register">Sign up from here</a></p>

                                <p th:if="${bad_credentials}" class="errors text-danger">Invalid username or password.</p>

                                <p th:text="${accountNotVerified}" class="errors text-danger"></p>
                            </div>

                            <div class="form__body">
                                <div class="form__row">
                                    <label for="usernameLogin" class="form__label">Email / Username</label>

                                    <div class="form__controls">
                                        <input th:value="${emailOrUsername}"
                                               type="text" id="usernameLogin" name="emailOrUsername" class="field field--login field--credentials">
                                    </div>
                                </div>

                                <div class="form__row">
                                    <label for="passwordLogin" class="form__label">Password</label>

                                    <div class="form__controls">
                                        <input type="password" id="passwordLogin" name="password" class="field field--login field--credentials">
                                    </div>

                                    <div class="mt-1">
                                        <a th:href="@{/users/forgottenpassword}" class="btn-link">Forgot password?</a>
                                    </div>
                                </div>
                            </div>

                            <div class="form__actions">
                                <input type="submit" value="Log in" name="submitLoginForm" class="btn form__btn" id="login">
                            </div>

                            <div class="form__foot"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="~{fragments/commons::footer}"></footer>

    <div th:replace="~{fragments/commons::popups(loginPage = 'true')}"></div>
</body>

</html>