<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/commons::head(title = 'Cart | Tech x7')}"></head>

<body>
	<header th:replace="~{fragments/commons::header(activeLink = 'cart')}"></header>

	<div th:replace="~{fragments/commons::breadcrumb(activeBreadcrumb = 'Cart')}"></div>

	<!-- Cart Start -->
	<div class="container-fluid">
		<div class="row px-lg-5">
			<div th:unless="${#lists.isEmpty(cartItems)}"
				 class="col-lg-8 table-responsive mb-5">
				<table class="table table-light table-borderless table-hover text-center mb-0">
					<thead class="thead" style="background: #F5F5F5;">
						<tr style="border-bottom: 1px solid #dee2e6;">
							<th></th>
							<th>Price</th>
							<th>Quantity</th>
							<th>Subtotal</th>
							<th>Remove</th>
						</tr>
					</thead>
					<tbody class="align-middle" style="font-size: 18px">
						<tr th:each="item, status : ${cartItems}"
							th:with="product = ${item.productDTO}"
							th:id="|row${status.count}|">
							<td class="d-flex align-items-center pl-5" style="word-wrap: break-word;">
								<img th:src="@{|/images/${product.imageUrl}|}"
									 alt="" class="mr-3" width="100">

								<a th:text="${product.link}"
								   class="text-left" href="laptops/lenovoV15.html" style="width: 260px"></a>
							</td>

							<td th:text="|£${product.price}|"
								class="product-price align-middle"></td>

							<td class="align-middle">
								<div class="input-group quantity mx-auto" style="width: 125px;">
									<div class="input-group-btn">
										<button th:pid="${product.uuid}"
												class="btn btn-sm btn-minus" style="font-size: 20px;">
											<i class="fa fa-minus-circle"></i>
										</button>
									</div>

									<input th:value="${item.quantity}"
										   th:id="|quantity${product.uuid}|"
										   type="text" class="form-control form-control-sm bg-secondary border-0 rounded text-center" value="1" maxlength="3" style="font-size: 18px;">

									<div class="input-group-btn">
										<button th:pid="${product.uuid}"
												class="btn btn-sm btn-plus" style="font-size: 20px; color: #000">
											<i class="fa fa-plus-circle"></i>
										</button>
									</div>
								</div>
							</td>

							<td th:text="|£${item.subtotal}|"
								th:id="|subtotal${product.uuid}|"
								class="align-middle product-subtotal"></td>

							<td class="align-middle">
								<button th:pid="${product.uuid}"
										th:rowNumber="${status.count}"
										class="btnRemoveFromCart btn btn-danger rounded" style="padding: 1px 7.2px"><i class="fa fa-times"></i></button>
							</td>
						</tr>
					</tbody>

<!--					<a th:href="@{/clearCart}">Clear Cart</a>-->
<!--					<a th:href="@{/products}">Continue Shopping</a>-->
				</table>
			</div>

			<div th:if="${#lists.isEmpty(cartItems)}">
				<h3>No products in cart</h3>
			</div>

			<div class="col-lg-4" style="margin-top: 12px;">
				<h5 class="section-title position-relative text-uppercase" style="padding-bottom: 4px;"><span class="bg-secondary pr-3">Cart Summary</span></h5>
				<div class="bg-light p-30 mb-5" style="border-top: 1px solid #dee2e6;">
					<div class="border-bottom pb-2">
						<div class="d-flex justify-content-between mb-3">
							<h6>Subtotal</h6>
							<h6 id="cart-subtotal-page"></h6>
						</div>
						<div class="d-flex justify-content-between">
							<h6 class="font-weight-medium">Shipping</h6>
							<h6 id="cart-shipping-page" class="font-weight-medium"></h6>
						</div>
					</div>
					<div class="pt-2">
						<div class="d-flex justify-content-between mt-2">
							<h5>Total</h5>
							<h5 id="cart-total-page"></h5>
						</div>
						<a href="checkout.html" class="btn-link"><button class="btn btn-block btn-primary font-weight-bold my-3 py-3">PROCEED TO CHECKOUT</button></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Cart End -->

	<footer th:replace="~{fragments/commons::footer}"></footer>

	<div th:replace="~{fragments/commons::popups}"></div>
</body>

</html>
