<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/commons::head(title = 'Contact | Tech x7')}"></head>

<body>
	<header th:replace="~{fragments/commons::header(activeLink='contact')}"></header>

	<div th:replace="~{fragments/commons::breadcrumb(activeBreadcrumb = 'Contact')}"></div>

	<div class="container-fluid">
		<h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Contact Us</span></h2>
		<div class="row px-xl-5">
			<div class="col-lg-7 mb-5">
				<div class="contact-form bg-light p-30">
					<div id="success"></div>
					<form action="#" name="sentMessage" id="contactForm" novalidate="novalidate">
						<div class="control-group">
							<input type="text" class="form-control" id="name" placeholder="Your Name"
								required="required" data-validation-required-message="Please enter your name" />
							<p class="help-block text-danger"></p>
						</div>
						<div class="control-group">
							<input type="email" class="form-control" id="email" placeholder="Your Email"
								required="required" data-validation-required-message="Please enter your email" />
							<p class="help-block text-danger"></p>
						</div>
						<div class="control-group">
							<input type="text" class="form-control" id="subject" placeholder="Subject"
								required="required" data-validation-required-message="Please enter a subject" />
							<p class="help-block text-danger"></p>
						</div>
						<div class="control-group">
							<textarea class="form-control" rows="7" id="message" placeholder="Message"
								required="required"
								data-validation-required-message="Please enter your message" style="resize: none"></textarea>
							<p class="help-block text-danger"></p>
						</div>
						<div>
							<button class="btn btn-primary py-2 px-4 text-uppercase" type="submit" id="sendMessageButton">Send
								Message</button>
						</div>
					</form>
				</div>
			</div>
			<div class="col-lg-5 mb-5">
				<div class="bg-light p-30">
					<p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3" style="padding: 0 2px;"></i>St. "Alexander N. Karagiozov" 23, 7000</p>
					<p class="mb-2"><a class="link-contact" href="mailto:techx7.techstore@gmail.com"><i class="fa fa-envelope text-primary mr-3"></i>techx7.techstore@gmail.com</a></p>
					<p class="mb-2"><a class="link-contact" href="tel:+359 234 56 78 90"><i class="fa fa-phone-alt text-primary mr-3"></i>+359 234 56 78 90</a></p>
				</div>

				<div class="bg-light p-30 pt-0">
					<div style="width: 100%">
						<iframe width="100%" height="412" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=ul.%20%22Knjaz%20Boris%20I%22%20201A,%208200A%20%D0%BA%D0%B2.%20%D0%A1%D0%B2%D0%B5%D1%82%D0%B8%20%D0%93%D0%B5%D0%BE%D1%80%D0%B3%D0%B8,%20Pomorie+(Tech%20x7)&amp;t=&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
							<a href="https://www.maps.ie/population/">Calculate population in area</a>
						</iframe>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="~{fragments/commons::footer}"></footer>

	<div th:replace="~{fragments/commons::popups}"></div>
</body>

</html>
