<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/commons::head}"></head>

<body>
	<header th:replace="~{fragments/commons::header(activeLink = 'home')}"></header>

	<div class="hero">
		<div class="container-fluid mb-3">
			<div class="col-12 px-lg-5 hero__inner" style="padding: 0 63px">
				<div class="position-relative row justify-content-center" style="height: 500px;">
					<img class="position-absolute w-100 h-100" src="/img/hero.webp" style="object-fit: cover; z-index: -1;">
					<div class="d-flex flex-column align-items-center justify-content-center">
						<div class="p-3 text-center hero-content" style="max-width: 700px;">
							<h1 class="display-4 text-white mb-3">Welcome To Tech x7</h1>
							<p class="mx-md-5 text-white px-5">We offer a big variety of computers and electronics of different brands and models. YOU ORDER, WE DELIVER.</p>
							<a th:href="@{/products}"
							   class="btn btn-outline-light py-2 px-4 mt-3">Shop Now</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Products Start -->
	<div class="container-fluid pt-5 pb-3">
		<h2 class="section-title position-relative text-uppercase px-md-5 mb-4"><span class="bg-secondary pr-3">Top Selections</span></h2>
		<div class="row px-md-5">
			<div class="col-lg-3 col-md-4 col-sm-6 pb-1">
				<div class="product-item bg-light mb-4">
					<div class="product-img position-relative overflow-hidden">
						<img class="img-fluid w-100" src="/img/op.jpg" alt="">
						<div class="product-action">
							<a href="#" class="d-block w-100 h-100 position-absolute"></a>

							<a class="btn btn-outline-dark btn-square" href="#"><i class="fa fa-shopping-cart"></i></a>

							<a class="btn btn-outline-dark btn-square" href="#"><i class="far fa-heart"></i></a>

						</div>
					</div>
					<div class="text-center pt-0 pb-4 px-2">
						<a class="h6 text-decoration-none" href="#">Acer Nitro M60</a>
						<div class="d-flex align-items-center justify-content-center mt-2">
							<h5>£1999.99</h5><h6 class="text-muted ml-2"><del>£2499.99</del></h6>
						</div>
						<div class="d-flex align-items-center justify-content-center mb-1">
							<small class="fa fa-star text-primary mr-1"></small>
							<small class="fa fa-star text-primary mr-1"></small>
							<small class="fa fa-star text-primary mr-1"></small>
							<small class="fa fa-star-half-alt text-primary mr-1"></small>
							<small class="far fa-star text-primary mr-1"></small>
							<small>(78)</small>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-6 pb-1">
				<div class="product-item bg-light mb-4">
					<div class="product-img position-relative overflow-hidden">
						<img class="img-fluid w-100" src="/img/ideapad.jpg" alt="">
						<div class="product-action">
							<a href="laptops/lenovoV15.html" class="d-block w-100 h-100 position-absolute"></a>

							<a class="btn btn-outline-dark btn-square" href="#"><i class="fa fa-shopping-cart"></i></a>

							<a class="btn btn-outline-dark btn-square" href="#"><i class="far fa-heart"></i></a>
						</div>
					</div>
					<div class="text-center pt-0 pb-4 px-2">
						<a class="h6 text-decoration-none" href="laptops/lenovoV15.html">Lenovo V15</a>
						<div class="d-flex align-items-center justify-content-center mt-2">
							<h5>£1499.99</h5><h6 class="text-muted ml-2"><del>£1999.99</del></h6>
						</div>
						<div class="d-flex align-items-center justify-content-center mb-1">
							<small class="fa fa-star text-primary mr-1"></small>
							<small class="fa fa-star text-primary mr-1"></small>
							<small class="fa fa-star text-primary mr-1"></small>
							<small class="fa fa-star-half-alt text-primary mr-1"></small>
							<small class="far fa-star text-primary mr-1"></small>
							<small>(78)</small>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-6 pb-1">
				<div class="product-item bg-light mb-4">
					<div class="product-img position-relative overflow-hidden">
						<img class="img-fluid w-100" src="/img/Asus%20Minibook.png" alt="">
						<div class="product-action">
							<a href="laptops/lenovoIdeaPad3_15_UltraSlim.html" class="d-block w-100 h-100 position-absolute"></a>

							<a class="btn btn-outline-dark btn-square" href="#"><i class="fa fa-shopping-cart"></i></a>

							<a class="btn btn-outline-dark btn-square" href="#"><i class="far fa-heart"></i></a>

						</div>
					</div>
					<div class="text-center pt-0 pb-4 px-2">
						<a class="h6 text-decoration-none" href="laptops/lenovoIdeaPad3_15_UltraSlim.html">Lenovo Ideapad 3 15 UltraSlim</a>
						<div class="d-flex align-items-center justify-content-center mt-2">
							<h5>£2499.99</h5><h6 class="text-muted ml-2"><del>£2799.99</del></h6>
						</div>
						<div class="d-flex align-items-center justify-content-center mb-1">
							<small class="fa fa-star text-primary mr-1"></small>
							<small class="fa fa-star text-primary mr-1"></small>
							<small class="fa fa-star text-primary mr-1"></small>
							<small class="fa fa-star-half-alt text-primary mr-1"></small>
							<small class="far fa-star text-primary mr-1"></small>
							<small>(78)</small>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 pb-1">
				<div class="product-item bg-light mb-4">
					<div class="product-img position-relative overflow-hidden">
						<img class="img-fluid w-100" src="/img/Dell%20Precision%2015%205550.png" alt="">
						<div class="product-action">
							<a href="#" class="d-block w-100 h-100 position-absolute"></a>

							<a class="btn btn-outline-dark btn-square" href="#"><i class="fa fa-shopping-cart"></i></a>

							<a class="btn btn-outline-dark btn-square" href="#"><i class="far fa-heart"></i></a>

						</div>
					</div>
					<div class="text-center pt-0 pb-4 px-2">
						<a class="h6 text-decoration-none" href="#">Dell Precision 15 5550</a>
						<div class="d-flex align-items-center justify-content-center mt-2">
							<h5>£2999.99</h5><h6 class="text-muted ml-2"><del>£$3399.99</del></h6>
						</div>
						<div class="d-flex align-items-center justify-content-center mb-1">
							<small class="fa fa-star text-primary mr-1"></small>
							<small class="fa fa-star text-primary mr-1"></small>
							<small class="fa fa-star text-primary mr-1"></small>
							<small class="far fa-star text-primary mr-1"></small>
							<small class="far fa-star text-primary mr-1"></small>
							<small>(90)</small>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 pb-1">
				<div class="product-item bg-light mb-4">
					<div class="product-img position-relative overflow-hidden">
						<img class="img-fluid w-100" src="/img/Lenovo%20Yoga%206.png" alt="">
						<div class="product-action">
							<a href="#" class="d-block w-100 h-100 position-absolute"></a>

							<a class="btn btn-outline-dark btn-square" href="#"><i class="fa fa-shopping-cart"></i></a>

							<a class="btn btn-outline-dark btn-square" href="#"><i class="far fa-heart"></i></a>

						</div>
					</div>
					<div class="text-center pt-0 pb-4 px-2">
						<a class="h6 text-decoration-none" href="#">Lenovo Yoga 6</a>
						<div class="d-flex align-items-center justify-content-center mt-2">
							<h5>£1399.99</h5><h6 class="text-muted ml-2"><del>£1599.99</del></h6>
						</div>
						<div class="d-flex align-items-center justify-content-center mb-1">
							<small class="fa fa-star text-primary mr-1"></small>
							<small class="fa fa-star text-primary mr-1"></small>
							<small class="fa fa-star text-primary mr-1"></small>
							<small class="fa fa-star text-primary mr-1"></small>
							<small class="fa fa-star text-primary mr-1"></small>
							<small>(114)</small>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 pb-1">
				<div class="product-item bg-light mb-4">
					<div class="product-img position-relative overflow-hidden">
						<img class="img-fluid w-100" src="/img/Dell%20XPS%2015.png" alt="">
						<div class="product-action">
							<a href="laptops/DellXPS15.html" class="d-block w-100 h-100 position-absolute"></a>

							<a class="btn btn-outline-dark btn-square" href="#"><i class="fa fa-shopping-cart"></i></a>

							<a class="btn btn-outline-dark btn-square" href="#"><i class="far fa-heart"></i></a>
						</div>
					</div>
					<div class="text-center pt-0 pb-4 px-2">
						<a class="h6 text-decoration-none" href="laptops/DellXPS15.html">Dell XPS 15</a>
						<div class="d-flex align-items-center justify-content-center mt-2">
							<h5>£2999.99</h5><h6 class="text-muted ml-2"><del>£3199.99</del></h6>
						</div>
						<div class="d-flex align-items-center justify-content-center mb-1">
							<small class="fa fa-star text-primary mr-1"></small>
							<small class="fa fa-star text-primary mr-1"></small>
							<small class="fa fa-star text-primary mr-1"></small>
							<small class="fa fa-star text-primary mr-1"></small>
							<small class="fa fa-star-half-alt text-primary mr-1"></small>
							<small>(77)</small>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 pb-1">
				<div class="product-item bg-light mb-4">
					<div class="product-img position-relative overflow-hidden">
						<img class="img-fluid w-100" src="/img/Acer%20Predator%20Helios%20700.png" alt="">
						<div class="product-action">
							<a href="#" class="d-block w-100 h-100 position-absolute"></a>

							<a class="btn btn-outline-dark btn-square" href="#"><i class="fa fa-shopping-cart"></i></a>

							<a class="btn btn-outline-dark btn-square" href="#"><i class="far fa-heart"></i></a>

						</div>
					</div>
					<div class="text-center pt-0 pb-4 px-2">
						<a class="h6 text-decoration-none" href="#">Acer Predator Helios 700</a>
						<div class="d-flex align-items-center justify-content-center mt-2">
							<h5>£3999.99</h5><h6 class="text-muted ml-2"><del>$4329.99</del></h6>
						</div>
						<div class="d-flex align-items-center justify-content-center mb-1">
							<small class="fa fa-star text-primary mr-1"></small>
							<small class="fa fa-star text-primary mr-1"></small>
							<small class="fa fa-star text-primary mr-1"></small>
							<small class="fa fa-star-half-alt text-primary mr-1"></small>
							<small class="far fa-star text-primary mr-1"></small>
							<small>(134)</small>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 pb-1">
				<div class="product-item bg-light mb-4">
					<div class="product-img position-relative overflow-hidden">
						<img class="img-fluid w-100" src="/img/Lenovo%20MiniBook.png" alt="">
						<div class="product-action">
							<a href="#" class="d-block w-100 h-100 position-absolute"></a>

							<a class="btn btn-outline-dark btn-square" href="#"><i class="fa fa-shopping-cart"></i></a>

							<a class="btn btn-outline-dark btn-square" href="#"><i class="far fa-heart"></i></a>

						</div>
					</div>
					<div class="text-center pt-0 pb-4 px-2">
						<a class="h6 text-decoration-none" href="#">Lenovo MiniBook</a>
						<div class="d-flex align-items-center justify-content-center mt-2">
							<h5>£3499.99</h5><h6 class="text-muted ml-2"><del>£3899.99</del></h6>
						</div>
						<div class="d-flex align-items-center justify-content-center mb-1">
							<small class="fa fa-star text-primary mr-1"></small>
							<small class="fa fa-star text-primary mr-1"></small>
							<small class="fa fa-star text-primary mr-1"></small>
							<small class="far fa-star text-primary mr-1"></small>
							<small class="far fa-star text-primary mr-1"></small>
							<small>(121)</small>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Products End -->

	<footer th:replace="~{fragments/commons::footer}"></footer>

	<div th:replace="~{fragments/commons::popups}"></div>
</body>
</html>
