<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/commons::head(title = 'Reset Password | Tech x7')}"></head>

<body>
    <div th:if="${verificationMessage}"
         class="alert alert-auth d-flex">
        <div>✔️</div>

        <div th:text=" ${verificationMessage}"></div>
    </div>

    <header th:replace="~{fragments/commons::header(activeLink = 'reset-password', resetPasswordPage = 'true')}"></header>

    <div class="container">
        <div class="popup auth-login">
            <div class="popup__inner">
                <div class="popup__head">
                    <h2>Reset password</h2>
                </div>

                <div class="popup__body">
                    <div class="form-login">
                        <form th:action="@{/users/password/reset}"
                              th:method="POST"
                              th:object="${resetPasswordDTO}"
                              name="passwordRecoveryForm" class="form-credentials">
                            <div class="form__head"></div>

                            <div class="form__body">
                                <div class="form__row">
                                    <label for="email" class="form__label">Confirm your email address</label>

                                    <div class="form__controls">
                                        <input th:name="email"
                                               th:field="*{email}"
                                               type="text" id="email" class="field">

                                        <small th:if="${#fields.hasErrors('email')}"
                                               th:errors="*{email}"
                                               class="text-danger"></small>
                                    </div>
                                </div>

                                <div class="form__row">
                                    <label for="password" class="form__label">Password</label>

                                    <div class="form__controls">
                                        <input th:name="password"
                                               type="password" id="password" class="field">

                                        <small th:if="${#fields.hasErrors('password')}"
                                               th:errors="*{password}"
                                               class="text-danger"></small>
                                    </div>
                                </div>

                                <div class="form__row">
                                    <label for="confirmPassword" class="form__label">Confirm Password</label>

                                    <div class="form__controls">
                                        <input th:name="confirmPassword"
                                               type="password" id="confirmPassword" name="confirmPassword" class="field">

                                        <small th:if="${#fields.hasErrors('confirmPassword')}"
                                               th:errors="*{confirmPassword}"
                                               class="text-danger"></small>
                                    </div>
                                </div>
                            </div>

                            <div class="form__actions">
                                <input type="submit" value="Reset" name="submitLoginForm" class="btn form__btn" id="password-reset">
                            </div>

                            <div class="form__foot">
                                <input th:name="originalEmail" th:value="${originalEmail}" type="hidden">
                                <input th:name="resetCode" th:value="${resetCode}" type="hidden">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="~{fragments/commons::footer}"></footer>

    <div th:replace="~{fragments/commons::popups(forgottenPasswordPage = 'true')}"></div>
</body>

</html>