<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/commons::head(title = 'Recover Password | Tech x7')}"></head>

<body>
    <div th:if="${verificationMessage}"
         class="alert alert-auth d-flex">
        <div>✔️</div>

        <div th:text=" ${verificationMessage}"></div>
    </div>

    <header th:replace="~{fragments/commons::header(activeLink = 'recover-password', recoverPasswordPage = 'true')}"></header>

    <div class="container">
        <div class="popup auth-login">
            <div class="popup__inner">
                <div class="popup__head">
                    <h2>Password recovery</h2>
                </div>

                <div class="popup__body">
                    <div class="form-login">
                        <form th:action="@{/users/password/recover}"
                              th:method="POST"
                              name="passwordRecoveryForm" class="form-credentials">
                            <div class="form__head">
                                <p>Please enter your <span class="text-warning">email</span> or  <span class="text-warning">username</span></p>
                            </div>

                            <div class="form__body">
                                <div class="form__row">
                                    <label for="usernameOrEmail" class="form__label">Email / Username</label>

                                    <div class="form__controls">
                                        <input th:value="${emailOrUsername}" type="text" id="usernameOrEmail" name="emailOrUsername" class="field">
                                    </div>

                                    <small th:if="${badCredentials}" class="errors text-danger">Your email or username is not valid</small>

                                    <small th:if="${accountNotVerified}" class="errors text-danger">Account not verified. Check your email for verification code</small>
                                </div>
                            </div>

                            <div class="form__actions">
                                <input type="submit" value="Send" name="submitLoginForm" class="btn form__btn" id="login">
                            </div>

                            <div class="form__foot"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="~{fragments/commons::footer}"></footer>

    <div th:replace="~{fragments/commons::popups(forgottenPasswordPage = 'true')}"></div>
</body>

</html>