<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/commons::head(title = 'Products | Tech x7')}"></head>

<body>
	<header th:replace="~{fragments/commons::header(activeLink='products')}"></header>

	<div th:replace="~{fragments/commons::breadcrumb(activeBreadcrumb = 'Products')}"></div>

	<div class="container-fluid">
		<div class="row px-xl-5">
			<div class="col-lg-3 col-md-4">
				<h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by price</span></h5>
				<div class="bg-light p-4 mb-30">
					<form>
						<div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
							<input type="checkbox" class="custom-control-input" checked id="price-all">
							<label class="custom-control-label" for="price-all">All Price</label>
							<span class="badge border font-weight-normal">1000</span>
						</div>
						<div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
							<input type="checkbox" class="custom-control-input" id="price-1">
							<label class="custom-control-label" for="price-1">$0 - $100</label>
							<span class="badge border font-weight-normal">150</span>
						</div>
						<div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
							<input type="checkbox" class="custom-control-input" id="price-2">
							<label class="custom-control-label" for="price-2">$100 - $200</label>
							<span class="badge border font-weight-normal">295</span>
						</div>
						<div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
							<input type="checkbox" class="custom-control-input" id="price-3">
							<label class="custom-control-label" for="price-3">$200 - $300</label>
							<span class="badge border font-weight-normal">246</span>
						</div>
						<div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
							<input type="checkbox" class="custom-control-input" id="price-4">
							<label class="custom-control-label" for="price-4">$300 - $400</label>
							<span class="badge border font-weight-normal">145</span>
						</div>
						<div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
							<input type="checkbox" class="custom-control-input" id="price-5">
							<label class="custom-control-label" for="price-5">$400 - $500</label>
							<span class="badge border font-weight-normal">168</span>
						</div>
					</form>
				</div>
			</div>

			<div class="col-lg-9 col-md-8">
				<div class="row pb-3">
					<div class="col-12 pb-1">
						<div class="row align-items-center justify-content-space-between mb-4">
							<div class="col-lg-auto mb-4 mb-lg-0">
								<form action="">
									<div class="input-group">
										<input type="text" class="form-control input-search" placeholder="Search for products" style="width: 350px">
										<div class="input-group-append">
											<span class="input-group-text bg-transparent text-primary">
												<i class="fa fa-search"></i>
											</span>
										</div>
									</div>
								</form>
							</div>

							<div class="col-lg-auto ml-auto">
								<div class="btn-group">
									<button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Sorting</button>
									<div class="dropdown-menu dropdown-menu-right">
										<button class="dropdown-item">Latest</button>
										<button class="dropdown-item">Popularity</button>
										<button class="dropdown-item">Best Rating</button>
									</div>
								</div>

								<div class="btn-group ml-2">
									<button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Showing</button>
									<div class="dropdown-menu dropdown-menu-right">
										<button class="dropdown-item">10</button>
										<button class="dropdown-item">20</button>
										<button class="dropdown-item">30</button>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div th:each="product : ${productPage.getContent()}"
						 th:object="${product}"
						 class="col-lg-3 col-sm-6 pb-1">
						<div class="product-item bg-light mb-4">
							<div class="product-img position-relative overflow-hidden">
								<object class="img-fluid w-100" th:data="@{|/images/*{imageUrl}|}" type="image/jpg">
									<img src="https://placehold.co/325x325" alt="Product Photo">
								</object>

								<div class="product-action">
									<a class="d-block w-100 h-100 position-absolute" href="#"></a>

									<a class="btn btn-outline-dark btn-square" href="#"><i class="fa fa-shopping-cart"></i></a>

									<a class="btn btn-outline-dark btn-square" href="#"><i class="far fa-heart"></i></a>
								</div>
							</div>

							<div class="text-center pt-2 pb-4 px-2">
								<a th:text="|*{manufacturer} *{model}|"
								   class="h6 text-decoration-none" href="#">Acer Nitro M60</a>

								<div class="d-flex align-items-center justify-content-center mt-2">
									<th-block th:if="*{discountPrice}">
										<h5 th:if="*{discountPrice}" th:text="|£*{discountPrice}|">£1999.99</h5><h6 class="text-muted ml-2"><del th:text="|£*{price}|">£2499.99</del></h6>
									</th-block>

									<th-block th:unless="*{discountPrice}">
										<h5 th:text="|£*{price}|">£1999.99</h5>
									</th-block>
								</div>

								<div class="d-flex align-items-center justify-content-center mb-1">
									<small class="fa fa-star text-primary mr-1"></small>
									<small class="fa fa-star text-primary mr-1"></small>
									<small class="fa fa-star text-primary mr-1"></small>
									<small class="fa fa-star-half-alt text-primary mr-1"></small>
									<small class="far fa-star text-primary mr-1"></small>
									<small>(78)</small>
								</div>
							</div>
						</div>
					</div>

					<div class="col-12">
						<nav>
							<ul class="pagination justify-content-center">
								<li th:classappend="${productPage.number > 0 ? '' : 'disabled'}">
									<a th:if="${productPage.number > 0}"
									   th:href="@{/products(size=${productPage.size}, page=${productPage.number})}"
									   class="page-link">Previous</a>

									<a th:if="${productPage.number <= 0}"
									   class="page-link">Previous</a>
								</li>

								<li th:if="${productPage.totalPages > 0}"
									th:each="pageNumber : ${pageNumbers}"
									th:class="${pageNumber == productPage.number + 1} ? 'active'"
									th:classappend="|pagination page-item|">
									<a th:href="@{/products(size=${productPage.size}, page=${pageNumber})}"
									   th:text="${pageNumber}"
									   class="page-link">
									</a>
								</li>

								<li th:classappend="${productPage.number + 1 < products.totalPages ? '' : 'disabled'}">
									<a th:if="${productPage.number + 1 < products.totalPages}"
									   th:href="@{/products(size=${productPage.size}, page=${productPage.number + 2})}"
									   class="page-link">Next</a>

									<a th:if="${productPage.number + 1 >= products.totalPages}"
									   class="page-link">Next</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="~{fragments/commons::footer}"></footer>

	<div th:replace="~{fragments/commons::popups}"></div>
</body>

</html>
