<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/commons::head(title = 'Add Product | Tech x7')}"></head>

<body>
    <header th:replace="~{fragments/commons::header(activeLink = 'product-add')}"></header>

    <div th:replace="~{fragments/commons::breadcrumb(activeBreadcrumb = 'Add Product')}"></div>

    <div class="container-fluid">
        <form th:action="@{/products/manage/add}"
              th:method="POST"
              th:object="${addProductDTO}"
              name="productAdd" id="product-add" enctype="multipart/form-data">
            <div class="row px-xl-5 pb-3">
                <h2 class="section-title position-relative text-uppercase mb-4"><span class="bg-secondary px-1">Product</span></h2>

                <div class="col-lg-6 mb-5">
                    <div class="product-form bg-light p-30">
                        <h5 class="section-title position-relative text-uppercase mb-3"><span class="credentials-title">Add Product</span></h5>

                        <div class="row align-items-start py-3">
                            <div class="col-md-12 form-group">
                                <div class="row align-items-center">
                                    <div class="col-auto mb-3 mb-md-0 input-image">
                                        <img src="https://images.pexels.com/photos/1037995/pexels-photo-1037995.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=175" class="img" alt="Product photo">
                                    </div>

                                    <div class="col-auto">
                                        <div id="img-section">
                                            <b>Product Photo</b>

                                            <p>Accepted file types .png and .jpeg. Less than 5MB</p>

                                            <div class="custom-file">
                                                <input th:name="image"
                                                       th:field="*{image}"
                                                       type="file" class="custom-file-input" id="customFileInput" aria-describedby="customFileInput">

                                                <label class="custom-file-label" for="customFileInput">Upload</label>
                                            </div>

                                            <div class="image-error"><small th:if="${#fields.hasErrors('image')}" th:errors="*{image}" class="text-danger"></small></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 form-group">
                                <label for="product-category">Category</label>

                                <select th:name="category"
                                        class="custom-select"
                                        id="product-category">
                                    <option value="">Select a category</option>

                                    <option th:each="category : ${categories}"
                                            th:text="${category.name}"
                                            th:value="${category.id}"
                                            th:attr="data-imageUrl=${category.imageUrl}"></option>
                                </select>

                                <small th:if="${#fields.hasErrors('categories')}"
                                       th:errors="*{categories}"
                                       class="text-danger"></small>

                                <div class="row categories-container" th:field="*{categories}"></div>
                            </div>

                            <div class="col-md-12 form-group">
                                <label for="product-model">Model</label>

                                <select th:name="model"
                                        th:field="*{model}"
                                        th:errorclass="is-invalid"
                                        class="custom-select"
                                        id="product-model">
                                    <option value="">Select a model</option>

                                    <optgroup th:each="manufacturer : ${manufacturers}"
                                              th:label="${manufacturer.name}">
                                        <option th:each="model : ${manufacturer.models}"
                                                th:text="${model.name}"
                                                th:value="${model.id}"></option>
                                    </optgroup>
                                </select>

                                <small th:if="${#fields.hasErrors('model')}"
                                       th:errors="*{model}"
                                       class="text-danger"></small>
                            </div>

                            <div class="col-md-12 form-group">
                                <label for="product-price">Price</label>

                                <input th:name="price"
                                       th:field="*{price}"
                                       th:errorclass="is-invalid"
                                       id="product-price" class="form-control" type="text">
                                <small th:if="${#fields.hasErrors('price')}"
                                       th:errors="*{price}"
                                       class="text-danger"></small>
                            </div>

                            <div class="col-md-12 form-group">
                                <label for="product-discount">Discount (%)</label>

                                <input th:name="discountPercentage"
                                       th:field="*{discountPercentage}"
                                       th:errorclass="is-invalid"
                                       id="product-discount" class="form-control" type="text">
                                <small th:if="${#fields.hasErrors('discountPercentage')}"
                                       th:errors="*{discountPercentage}"
                                       class="text-danger"></small>
                            </div>

                            <div class="col-md-12 mt-4 form-actions">
                                <button class="btn btn-block btn-primary font-weight-bold py-3 text-uppercase btn-add-product">Add product</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mb-5">
                    <div class="specification-form bg-light p-30">
                        <h5 class="section-title position-relative text-uppercase mb-3"><span class="credentials-title">Add Characteristics</span></h5>

                        <div class="row align-items-start py-3">
                            <div class="col-md-12 form-group">
                                <label for="product-description">Description</label>

                                <textarea th:name="description"
                                          th:field="*{description}"
                                          th:errorclass="is-invalid"
                                          id="product-description" class="form-control"
                                          placeholder="V Laptop Series | Simple, Powerful, & Secure Business Laptops Combining security and productivity features with a simple design."></textarea>
                                <small th:if="${#fields.hasErrors('description')}"
                                       th:errors="*{description}"
                                       class="text-danger"></small>
                            </div>

                            <div class="col-md-12 form-group">
                                <label for="product-specification">Specifications</label>

                                <textarea th:name="specification"
                                          th:field="*{specification}"
                                          th:errorclass="is-invalid"
                                          id="product-specification"
                                          class="form-control"
                                          placeholder=
                                          "Manufacturer: MSI&#10;OS: Windows 10 Professional&#10;CPU: Intel Core i5-12400F&#10;Chipset: Intel B760"></textarea>
                                <small th:if="${#fields.hasErrors('specification')}"
                                       th:errors="*{specification}"
                                       class="text-danger"></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <footer th:replace="~{fragments/commons::footer}"></footer>

    <div th:replace="~{fragments/commons::popups}"></div>
</body>

</html>
