<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/commons::head(title = 'Profile | Tech x7')}"></head>

<body>
	<header th:replace="~{fragments/commons::header}"></header>

	<div th:replace="~{fragments/commons::breadcrumb(activeBreadcrumb = 'Profile')}"></div>

	<div class="container-fluid">
		<h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Account settings</span></h2>

		<div class="row px-xl-5">
			<div class="col-lg-7 mb-5">
				<div class="profile-form bg-light p-30">
					<form th:action="@{/users/profile/edit}"
						  th:method="PATCH"
						  th:object="${userProfileToEdit}"
						  name="userProfile" id="user-profile" enctype="multipart/form-data">
						<input type="hidden" name="uuid" th:value="*{uuid}">

						<div class="row align-items-start py-3">
							<div class="col-md-12 form-group">
								<div class="row align-items-center">
									<div th:field="*{imageUrl}"
										 class="col-auto mb-3 mb-md-0 input-image edit">
										<img src="https://images.pexels.com/photos/1037995/pexels-photo-1037995.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=175" class="img" alt="Role image">

										<input id="input-imageUrl" type="hidden" name="imageUrl">
									</div>

									<div class="col-auto">
										<div id="img-section">
											<b>User Image</b>

											<p>Accepted file types .png and .jpg. Less than 5MB</p>

											<div class="custom-file">
												<input name="image" type="file" class="custom-file-input" id="customFileInput" aria-describedby="customFileInput">

												<label class="custom-file-label" for="customFileInput">Upload</label>
											</div>

											<div class="image-error"><small th:if="${#fields.hasErrors('image')}" th:errors="*{image}" class="text-danger"></small></div>
										</div>
									</div>
								</div>
							</div>

							<div class="col-md-6 form-group">
								<label for="first-name">First Name</label>

								<input th:name="firstName"
									   th:field="*{firstName}"
									   th:errorclass="is-invalid"
									   id="first-name" class="form-control" type="text" placeholder="John">

								<small th:if="${#fields.hasErrors('firstName')}"
									   th:errors="*{firstName}"
									   class="text-danger"></small>
							</div>

							<div class="col-md-6 form-group">
								<label for="last-name">Last Name</label>

								<input th:name="lastName"
									   th:field="*{lastName}"
									   th:errorclass="is-invalid"
									   id="last-name" class="form-control" type="text" placeholder="Doe">

								<small th:if="${#fields.hasErrors('lastName')}"
									   th:errors="*{lastName}"
									   class="text-danger"></small>
							</div>

							<div class="col-md-6 form-group">
								<label for="gender">Gender</label>

								<select th:name="gender"
										th:field="*{gender}"
										th:errorclass="is-invalid"
										class="custom-select"
										id="gender">
									<option value="">Select a gender</option>
								</select>

								<small th:if="${#fields.hasErrors('gender')}"
									   th:errors="*{gender}"
									   class="text-danger"></small>
							</div>

<!--							<div class="col-md-12 form-group">-->
<!--								<label>Manufacturer</label>-->

<!--								<select th:name="manufacturerId"-->
<!--										th:field="*{manufacturerId}"-->
<!--										class="custom-select">-->
<!--									<option value="">Select a manufacturer</option>-->
<!--									<option th:each="m : ${manufacturers}"-->
<!--											th:text="${m.name}"-->
<!--											th:value="${m.id}"></option>-->
<!--								</select>-->
<!--								<small th:if="${#fields.hasErrors('manufacturerId')}"-->
<!--									   th:errors="*{manufacturerId}"-->
<!--									   class="text-danger"></small>-->
<!--								<small th:if="${manufacturerError}"-->
<!--									   th:text="${manufacturerError}"-->
<!--									   class="text-danger"></small>-->
<!--							</div>-->

							<div class="col-md-6 form-group">
								<label for="phone-number">Phone</label>

								<input th:name="phoneNumber"
									   th:field="*{phoneNumber}"
									   th:errorclass="is-invalid"
									   id="phone-number" class="form-control" type="text" placeholder="+359 456 78 38 90">

								<small th:if="${#fields.hasErrors('phoneNumber')}"
									   th:errors="*{phoneNumber}"
									   class="text-danger"></small>
							</div>

							<div class="col-md-6 form-group">
								<label for="address">Address</label>

								<input th:name="address"
									   th:field="*{address}"
									   th:errorclass="is-invalid"
									   id="address" class="form-control" type="text" placeholder="Street №">

								<small th:if="${#fields.hasErrors('address')}"
									   th:errors="*{address}"
									   class="text-danger"></small>
							</div>

							<div class="col-md-6 form-group">
								<label for="secondary-address">Secondary Address</label>

								<input th:name="secondaryAddress"
									   th:field="*{secondaryAddress}"
									   th:errorclass="is-invalid"
									   id="secondary-address" class="form-control" type="text" placeholder="Street №">

								<small th:if="${#fields.hasErrors('secondaryAddress')}"
									   th:errors="*{secondaryAddress}"
									   class="text-danger"></small>
							</div>

							<div class="col-md-6 form-group">
								<label for="country">Country</label>

								<select th:name="country"
										th:field="*{country}"
										th:errorclass="is-invalid"
										class="custom-select"
										id="country">
									<option value="">Select a country</option>
								</select>

								<small th:if="${#fields.hasErrors('country')}"
									   th:errors="*{country}"
									   class="text-danger"></small>
							</div>

							<div class="col-md-6 form-group">
								<label for="city">City</label>

								<input th:name="city"
									   th:field="*{city}"
									   th:errorclass="is-invalid"
									   id="city" class="form-control" type="text" placeholder="Varna">

								<small th:if="${#fields.hasErrors('city')}"
									   th:errors="*{city}"
									   class="text-danger"></small>
							</div>

							<div class="col-md-6 form-group">
								<label for="state">State</label>

								<input th:name="state"
									   th:field="*{state}"
									   th:errorclass="is-invalid"
									   id="state" class="form-control" type="text" placeholder="Karelia">

								<small th:if="${#fields.hasErrors('state')}"
									   th:errors="*{state}"
									   class="text-danger"></small>
							</div>

							<div class="col-md-6 form-group">
								<label for="zip-code">ZIP Code</label>

								<input th:name="zipCode"
									   th:field="*{zipCode}"
									   th:errorclass="is-invalid"
									   id="zip-code" class="form-control" type="text" placeholder="1000">

								<small th:if="${#fields.hasErrors('zipCode')}"
									   th:errors="*{zipCode}"
									   class="text-danger"></small>
							</div>

							<div class="col-md-12 mt-4 form-actions">
								<button class="btn btn-block btn-primary font-weight-bold py-3 text-uppercase">Edit Billing Info</button>
							</div>
						</div>
					</form>
				</div>
			</div>

			<div class="col-lg-5 mb-5">
				<div class="bg-light p-30">
					<h5 class="section-title position-relative text-uppercase ml-3 mb-5"><span class="credentials-title">Edit credentials</span></h5>

					<div class="col-md-12 form-group">
						<label>Username</label>
						<input class="form-control" type="text" placeholder="Your new username">
					</div>

					<div class="col-md-12 form-group">
						<label>Email</label>
						<input class="form-control" type="text" placeholder="Your new email">
					</div>

					<div class="col-md-12 form-group">
						<label>Password</label>
						<input class="form-control" type="password" placeholder="Your new password">
					</div>

					<div class="col-md-12 mt-5 form-actions">
						<a href="#" class="text-decoration-none"><button class="btn btn-block btn-primary font-weight-bold py-3 text-uppercase">Edit Credentials</button></a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="~{fragments/commons::footer}"></footer>

	<div th:replace="~{fragments/commons::popups}"></div>
</body>

</html>
